:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --primary-hue: 266;
  --primary-saturation: 60%;
  --primary-luminance: 34%;
  --primary-color-font-color: hsl(270, 8%, 95%);

  --primary-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-luminance)
  );
  --primary-color-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-luminance) + 5%)
  );
  --primary-color-lightest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-luminance) + 10%)
  );
  --grid-cell-size: 2.5rem;
  --grid-border-size: 0.125rem;
  --valid-marker-color: hsl(120, 78%, 73%);
  --invalid-marker-color: hsl(3, 100%, 73%);
  --backdrop-color: hsla(0, 0%, 30%, 0.25);
}

:root.light {
  --secondary-background-color: hsl(0, 0%, 94%);
  --secondary-background-color-light: hsl(0, 0%, 98%);
  --footer-color: hsl(0, 0%, 10%);
  --content-font-color: hsl(0, 0%, 0%);
  --hit-marker-svg: url('../img/hit-marker.svg');
  --miss-marker-svg: url('../img/miss-marker.svg');
  --grid-border-color: hsl(0, 0%, 12%);
  --grid-cell-color: hsl(0, 0%, 100%);
  --grid-cell-color-secondary: hsl(0, 0%, 90%);
  --close-button-active: hsl(0, 0%, 85%);
  --ship-cell-color: hsl(0, 0%, 55%);
  --form-control-accent-color: hsl(213, 15%, 76%);
  --primary-red: hsl(0, 100%, 50%);
}

:root.dark {
  --secondary-background-color: hsl(0, 0%, 9%);
  --secondary-background-color-light: hsl(0, 0%, 11%);
  --grid-border-color: hsl(0, 0%, 9%);
  --grid-cell-color: hsl(0, 0%, 16%);
  --grid-cell-color-secondary: hsl(0, 0%, 21%);
  --close-button-active: hsl(0, 0%, 25%);
  --ship-cell-color: hsl(0, 0%, 40%);
  --form-control-accent-color: hsl(0, 0%, 6%);
  --primary-red: hsl(0, 100%, 40%);
  --footer-color: hsl(0, 0%, 6%);
  --content-font-color: hsl(0, 0%, 80%);
  --hit-marker-svg: url('../img/hit-marker-dark.svg');
  --miss-marker-svg: url('../img/miss-marker-dark.svg');
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color);
}

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  color: var(--primary-color-font-color);
}

.content {
  background-color: var(--content-background-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.gameplay-wrapper {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 1rem 2rem;
}

.gameboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.player-name {
  display: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.content .gameboard {
  display: none;
}

.gameplay-wrapper.active .gameboard {
  display: grid;
}

.gameplay-wrapper.active .player-name {
  display: block;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(10, var(--grid-cell-size));
  grid-template-columns: repeat(10, var(--grid-cell-size));
  gap: var(--grid-border-size);
  background-color: var(--grid-border-color);
  border: var(--grid-border-color) var(--grid-border-size) solid;
}

.status {
  font-size: 1.5rem;
  height: 2rem;
}

.grid-cell {
  background-color: var(--grid-cell-color);
}

.hit-cell {
  background: var(--grid-cell-color) var(--hit-marker-svg) center center
    no-repeat;
  color: var(--primary-red);
}

.miss-cell {
  background: var(--grid-cell-color) var(--miss-marker-svg) center center
    no-repeat;
}

.ship-cell {
  background-color: var(--ship-cell-color);
}

.sunken {
  background: var(--primary-red);
}

.ship-container {
  display: grid;
  grid-auto-rows: var(--grid-cell-size);
  grid-auto-columns: var(--grid-cell-size);
  grid-auto-flow: column;
  background-color: var(--grid-border-color);
  cursor: grab;
  gap: var(--grid-border-size);
}

.ship-container:not(.drag-image) {
  outline: var(--grid-border-color) var(--grid-border-size) solid;
}

.ship-container.vertical {
  grid-auto-flow: row;
}

.ship-container > * {
  background-color: var(--ship-cell-color);
  pointer-events: none;
}

.drag-image {
  outline: none;
  background-color: var(--grid-border-color);
  z-index: -2;
}

.drag-image.vertical > * {
  border-left: var(--grid-border-color) var(--grid-border-size) solid;
  border-right: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image:not(.vertical) > * {
  border-top: var(--grid-border-color) var(--grid-border-size) solid;
  border-bottom: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image > *:first-child {
  border-top: var(--grid-border-color) var(--grid-border-size) solid;
  border-left: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image > *:last-child {
  border-bottom: var(--grid-border-color) var(--grid-border-size) solid;
  border-right: var(--grid-border-color) var(--grid-border-size) solid;
}

#insertion-marker {
  display: none;
  pointer-events: none;
}

#insertion-marker.active {
  display: grid;
}

#insertion-marker > * {
  background-color: var(--valid-marker-color);
}

#insertion-marker.invalid > * {
  background-color: var(--invalid-marker-color);
}

.github-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  background-color: var(--footer-color);
  gap: 0.625rem;
  color: var(--primary-color-font-color);
}

.github-banner svg:hover:not(:active) {
  fill: hsl(0, 0%, 50%);
}

.randomize {
  align-self: center;
}

button {
  appearance: none;
  border: none;
}

.btn {
  padding: 1rem 1rem;
  border-radius: 12px;
  background: var(--primary-color);
  color: var(--primary-color-font-color);
  box-shadow: 0px 1px 2px 0px var(--form-control-accent-color);
  min-width: 7rem;
}

.btn:hover {
  background: var(--primary-color-light);
}

.btn:active {
  background: var(--primary-color-lightest);
  box-shadow: inset 0px 0px 1px 1px var(--form-control-accent-color);
}

.btn:disabled {
  background: var(--primary-color);
  opacity: 0.5;
}

.planning-modal .buttons {
  display: flex;
  gap: 0.5rem;
}

.content .buttons {
  place-self: end center;
  display: flex;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 3;
  gap: 0.5rem;
}

.planning-modal[open] {
  display: grid;
  column-gap: 3rem;
  grid-template-rows: 2.5fr 4fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'info info'
    'board ships'
    'board form';
  border: none;
  box-shadow: inset 0px 0px 1px 0px var(--form-control-accent-color);
  position: relative;
  max-height: 42rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  background-color: var(--grid-cell-color-secondary);
}

.close:active {
  background-color: var(--close-button-active);
}

.close > svg {
  fill: var(--content-font-color);
  pointer-events: none;
}

.planning-modal[open]::backdrop {
  background-color: var(--backdrop-color);
}

.gameplay-wrapper.active,
.planning-modal[open] {
  background-color: var(--secondary-background-color-light);
  border-radius: 30px;
  padding: 2rem;
}

h2 {
  margin: 0px;
}

.planning-info {
  grid-area: info;
  max-width: 56rem;
}

.planning-modal > .gameboard {
  grid-area: board;
  place-self: start center;
}

.ship-wrapper {
  grid-area: ships;
  display: flex;
  flex-direction: column;
  align-content: start;
}

#planning-ships {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 15px;
  padding: 0.8rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  flex-basis: 12rem;
}

fieldset {
  border: none;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
}

input {
  appearance: none;
  border: none;
}

.content,
.planning-modal,
input {
  color: var(--content-font-color);
}

input,
#planning-ships {
  box-shadow: inset 0px 0px 2px 1px var(--form-control-accent-color);
  background-color: var(--grid-cell-color);
}

.radio-control {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.2rem;
  align-items: center;
}

.radio-control + .radio-control {
  margin-top: 0.2rem;
}

label[for='name'] {
  padding-left: 0.4rem;
  margin-bottom: 0.3rem;
}

label[for='name']::after,
legend::after {
  content: '*';
  color: var(--primary-red);
}

input[type='radio'] {
  display: grid;
  place-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

input[type='radio']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  box-shadow: inset 1em 1em var(--primary-color);
  display: none;
}

input[type='radio']:checked::before {
  display: block;
}

input:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 2px 1px var(--primary-color);
}

#name {
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.invalid:not(#insertion-marker) {
  background-color: hsla(3, 100%, 71%, 0.265);
  box-shadow: inset 0px 0px 2px 1px var(--primary-red);
}

.error {
  color: var(--primary-red);
  flex-basis: 1.15rem;
}

fieldset + .error {
  width: 12rem;
}

.form-inputs {
  display: flex;
  gap: 1rem;
}

input:disabled {
  opacity: 0.3;
}

.toggle {
  display: block;
  position: relative;
  width: 3.6rem;
  height: 1.8rem;
}

.slider {
  background-color: var(--secondary-background-color);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.slider:hover {
  background-color: var(--secondary-background-color-light);
}

.slider::before {
  content: '';
  background-color: white;
  box-shadow: inset 0px 0px 2px 1px var(--form-control-accent-color);
  border-radius: 50%;
}

#dark-mode:not(:checked) + .slider::before {
  left: 0.2rem;
}

#dark-mode:checked + .slider::before {
  right: 0.2rem;
}

.toggle-icon,
.slider::before {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  z-index: 1;
  top: 0.2rem;
  pointer-events: none;
}

#dark-mode:not(:checked) ~ .toggle-icon {
  background: url('../img/light-mode.svg') center no-repeat;
  right: 0.2rem;
}

#dark-mode:checked ~ .toggle-icon {
  background: url('../img/dark-mode.svg') center no-repeat;
  left: 0.2rem;
}

.gameboard-wrapper .grid-cell[class='grid-cell']:hover {
  background-color: var(--grid-cell-color-secondary);
}
