:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: white;
  --primary-hue: 229;
  --primary-saturation: 78%;
  --primary-luminance: 34%;

  --primary-background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-luminance)
  );
  --primary-background-color-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-luminance) + 5%)
  );
  --primary-background-color-lightest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-luminance) + 10%)
  );
  --grid-cell-size: 2.5rem;
  --grid-border-size: 0.125rem;
  --grid-border-color: hsl(0, 0%, 12%);
  --grid-cell-color: hsl(0, 0%, 100%);
  --ship-cell-color: hsl(0, 0%, 55%);
  --valid-marker-color: hsl(120, 78%, 72%);
  --invalid-marker-color: hsl(3, 100%, 71%);
  --form-control-accent-color: hsl(213, 15%, 76%);
  --error-color: hsl(0, 100%, 50%);
  --input-focus-color: hsl(216, 100%, 49%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--primary-background-color);
  font-weight: 500;
  display: flex;
  font-size: 1.5rem;
  padding: 1.25rem 6rem;
}

.content {
  background-color: var(--content-background-color);
  flex-grow: 1;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameboards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(10, var(--grid-cell-size));
  grid-template-columns: repeat(10, var(--grid-cell-size));
  gap: var(--grid-border-size);
  background-color: var(--grid-border-color);
  border: var(--grid-border-color) var(--grid-border-size) solid;
}

.content .gameboard {
  display: none;
}

.current-status {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell {
  background-color: var(--grid-cell-color);
}

.hit-cell {
  background: var(--grid-cell-color) url('../img/hit-marker.svg') center center
    no-repeat;
}

.miss-cell {
  background: var(--grid-cell-color) url('../img/miss-marker.svg') center center
    no-repeat;
}

.ship-container {
  display: grid;
  grid-auto-rows: var(--grid-cell-size);
  grid-auto-columns: var(--grid-cell-size);
  grid-auto-flow: column;
  background-color: var(--grid-border-color);
  cursor: grab;
  gap: var(--grid-border-size);
}

.ship-container:not(.drag-image) {
  outline: var(--grid-border-color) var(--grid-border-size) solid;
}

.ship-container.vertical {
  grid-auto-flow: row;
}

.ship-container > * {
  background-color: var(--ship-cell-color);
  pointer-events: none;
}

.drag-image {
  outline: none;
  background-color: var(--grid-border-color);
  z-index: -2;
}

.drag-image.vertical > * {
  border-left: var(--grid-border-color) var(--grid-border-size) solid;
  border-right: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image:not(.vertical) > * {
  border-top: var(--grid-border-color) var(--grid-border-size) solid;
  border-bottom: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image > *:first-child {
  border-top: var(--grid-border-color) var(--grid-border-size) solid;
  border-left: var(--grid-border-color) var(--grid-border-size) solid;
}

.drag-image > *:last-child {
  border-bottom: var(--grid-border-color) var(--grid-border-size) solid;
  border-right: var(--grid-border-color) var(--grid-border-size) solid;
}

#insertion-marker > * {
  background-color: var(--valid-marker-color);
}

#insertion-marker.invalid > * {
  background-color: var(--invalid-marker-color);
}

.github-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  background-color: hsl(0, 0%, 10%);
  gap: 0.625rem;
}

.github-banner svg:hover:not(:active) {
  fill: hsl(0, 0%, 50%);
}

.gameplay-section {
  display: flex;
  flex-direction: column;
}

.randomize {
  align-self: center;
}

.btn {
  appearance: none;
  border: none;
  padding: 1rem 1rem;
  border-radius: 12px;
  background: var(--primary-background-color);
  color: white;
  box-shadow: 1px 1px 2px 1px var(--form-control-accent-color);
}

.btn:hover {
  background: var(--primary-background-color-light);
}

.btn:active {
  background: var(--primary-background-color-lightest);
}

.planning-modal[open] {
  display: grid;
  column-gap: 3rem;
  grid-template-rows: 4fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'board ships'
    'board form';
  border-radius: 20px;
  padding: 2rem 2rem;
  border: 1px solid var(--form-control-accent-color);
}

.planning-modal > .gameboard {
  grid-area: board;
  place-self: center;
}

.planning-modal > form {
  grid-area: form;
}

.ship-wrapper {
  grid-area: ships;
  display: flex;
  flex-direction: column;
}

#planning-ships {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 15px;
  padding: 0.8rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

legend {
  border-bottom: 1px solid var(--form-control-accent-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  appearance: none;
  border: none;
}

input,
#planning-ships {
  box-shadow: inset 0px 0px 2px 1px var(--form-control-accent-color);
}

.radio-control {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.2rem;
  align-items: center;
}

.radio-control + .radio-control {
  margin-top: 0.2rem;
}

label[for='name']::after,
legend::after {
  content: '*';
  color: var(--error-color);
}

input[type='radio'] {
  display: grid;
  place-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

input[type='radio']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  box-shadow: inset 1em 1em var(--primary-background-color);
  display: none;
}

input[type='radio']:checked::before {
  display: block;
}

input:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 1px var(--input-focus-color);
}

#name {
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.invalid:not(#insertion-marker) {
  background-color: hsla(3, 100%, 71%, 0.265);
  box-shadow: inset 0px 0px 2px 1px var(--error-color);
}

.error {
  color: var(--error-color);
  flex-basis: 1.15rem;
}

fieldset + .error {
  width: 12rem;
}

.form-inputs {
  display: flex;
  gap: 1rem;
}
